@charset "utf-8";
.meter-wrap{
    position: relative;
    margin: 25px auto;
}

.meter-wrap, .meter-value, .meter-text {
    /* The width and height of your image */
    width: 155px; height: 30px;
}

.meter-wrap, .meter-value {
    background: #bdbdbd url('http://docauth.cslabs.clarkson.edu/images/meter-outline.png') top left no-repeat;
}
            
.meter-text {
    position: absolute;
    top:0; left:0;

    padding-top: 5px;
                
    color: #000;
    text-align: center;
    width: 100%;
}

html, body {
	background: #4b5541;
	margin : 0;
	padding : 0;
}

.clear {
	clear : both;
}

/* GLOBAL NAVIGATION */
#globalNav {
	background : black url('http://docauth.cslabs.clarkson.edu/images/globalNavBg.jpg');
	border-top : 1px solid #bbb;
	border-bottom : 1px solid #bbb;
	font : 0.8em Verdana, Geneva, sans-serif;
	height : 30px;
	width : 100%;
}

#Title, #MainNav {
	color : white;
	margin : 5px 10px 0 10px;
}

#Title {
	float : left;
}

#MainNav {
	float : right;
}

#MainNav ul {
	list-style-type : none;
	margin-top : 0;
}

#MainNav li {
	display : inline;
}

#MainNav a:link, #MainNav a:visited {
	color : white;
	text-decoration : underline;
}

#MainNav a:hover, #MainNav a:active {
	color : white;
	text-decoration : none;
}

#MainNav a.current:link, #MainNav a.current:visited, #MainNav a.current:hover, #MainNav a.current:active {
	color : white;
	font-weight : bold;
	text-decoration : none;
}

/* CONTAINER AND CONTENT */
#container {
	margin : 0 auto;
	width : 984px;
}

	/* HEADER AND NAVIGATION */
	#header {
		margin-top : 10px;
	}

	#header a img {
		border : 0;
	}	

	#header h1 {
		color : white;
		font : 2em Georgia, "Times New Roman", Times, serif;
		letter-spacing : 0.05em;
		margin-left : 10px;
	}

	#header #nav {
		margin-top : -20px;
		text-align : right;
	}

	#header #nav, #header #nav a {	
		color : white;
		font: 0.9em Verdana, Geneva, sans-serif;
	}
	
	#header #nav a:link, #header #nav a:visited {
		color : white;
		text-decoration : underline;
	}

	#header #nav a:hover, #header #nav a:active {
		color : white;
		text-decoration : none;
	}

#content {
	background : white;
	border : 1px solid #ccc;
	font : 0.8em black Verdana, Geneva, sans-serif;
	margin-top : 5px;
	padding : 10px;
	padding-bottom : 0;
	text-align: center;
}

#content #right {
	float : right;
	margin-left : 15px;
	text-align : center;
	width : 390px;
}

#content .left {
	text-align: left;
}

#content img {
	border : 1px solid black;
	margin : 3px;
}

#content h1 {
	font-size : 1.5em;
	margin : 0;
}

#content p {
	margin-top : 0;
	padding-bottom : 12px; /* Added by mccarrms 2009/10/22 to spread parags. more apt due to less text */
}

#main a, #main a:link {
	text-align: center;
	padding:0;
	padding-top: 6px;
	margin: 0;
	width: 200px;
	height: 24px;
	display:block;
	color: white;
	background-image: url('http://docauth.cslabs.clarkson.edu/images/button_0.png');
}

#main a:hover {
	text-align: center;
	padding:0;
	padding-top: 6px;
	margin: 0;
	width: 200px;
	height: 24px;
	display:block;
	color: black;
	background-image: url('http://docauth.cslabs.clarkson.edu/images/button_1.png');
}

/* FOOTER */
#footer {
	color : #ccc;
	font : 0.7em Verdana, Helvetica, sans-serif;
	margin-top : 2px;
	text-align : center;
}

#footer a {
	color : #ccc;
	text-decoration : none;
}

#footer a:hover {
	color : #eee;
	text-decoration : none;
}
